<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item ml-3">
                <div class="media bg-white mt-2 dropdown">
                    <img class="header-profile" src="/assets/images/nishant.jpg">
                    <div class="media-body ml-2">
                        <b class="text-dark">Dr Nishiant <span class="dropdown-toggle ml-5"></span></b>
                        <p class="text-muted smallFont">Kids Care Clinic</p>
                    </div>
                    <div class="ml-4">
                        <span class="text-secondary">Today</span><span class="dropdown-toggle ml-5"></span><br>
                       {{date | date : 'dd MMM YYYY'}}
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/appointment" class="border btn-border shadow p-3">
                    Appointments
                </a>
                <a href="/walkin" class="border btn-border shadow p-3 ml-3">
                    Walk In
                </a>

            </li>
        </ul>
    </div>
</nav>