<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item ml-3">
                <div class="media bg-white">
                    <img class="header-profile" src="/assets/images/nishant.jpg">
                    <div class="media-body ml-2 ">
                        <b class="text-dark">Dr Nishiant</b>
                        <p class="text-muted smallFont">Kids Care Clinic</p>
                    </div>
                </div>
            </li>
            <li class="nav-item ml-3">
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/appointment" class="border btn-border shadow p-3">
                    Appointments
                </a>
                <a href="/walkin" class="border btn-border shadow p-3 ml-3">
                    Walk In
                </a>

            </li>
        </ul>
    </div>
</nav>