<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <ul class="navbar-nav bg-white">
        <li class="nav-item bg-primary logo-nav">
            <a class="nav-link" href="/home">
                
            </a>
        </li>
        <li class="nav-item ml-3">
            <div class="media bg-white">
                <img class="header-profile" src="/assets/images/nishant.jpg">
                <div class="media-body ml-2 bg-white">
                    <b class="bg-white">Dr Nishiant</b>
                    <p class="text-mute bg-white">Kids Care Clinic</p>
                </div>
            </div>
        </li>
        <li class="nav-item ml-3">
        </li>
    </ul>
</nav>