/* You can add global styles to this file, and also import other style files */
*{
    
    font-size: 15px;
    color: blue;
}

body{
    background-color: #e1f0f0 !important;
}

.borderRadius{
    border-radius: 10px;
}

.cur-point{
    cursor: pointer;
}

.smallFont {
    font-size: 11px !important;
}

.bigFont{
    font-size: 17px !important;
}

.bgDanger{
    border-radius: 5px;
    background-color: #f5cecb;
}

.bgGreen{
    border-radius: 5px;
    background-color: #dff7bc;
}
